<footer>
    <p>&copy; 2024 Akhliddin - Backend Developer</p>
    <div class="social-links">
        <!-- <a href="https://github.com/your-profile" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/your-profile" target="_blank">LinkedIn</a>
        <a href="https://linkedin.com/in/your-profile" target="_blank">LeetCode</a> -->
        <a href="https://t.me/ans0220" target = "_blank"><i class="fa-brands fa-telegram"></i></a>
        <a href="https://www.linkedin.com/in/ahliddin-najmiddinov-17796632a/" target = "_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/akhliddinnajmiddinov" target = "_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
