:root {
    --primary-darklight-color: #E1D9D1;
    /* --bg-gradient-color: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
    --bg-gradient-color: #202639;
    --blog-div-background: #3f4c77;
    --text-muted: #b4b3b2;
}
