.section {
    padding: 60px 20px;
    text-align: center;
}

.blogs {
    background-color: #fff;
}

.blogs h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.blogs p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}


.blogs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 30px;
    margin-top: 40px;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.1);
}

.blog h3 {
    font-size: 20px;
    margin: 10px;
}

.blog p {
    font-size: 16px;
    margin: 10px;
}

.blog-pic {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.all-hashtags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hashtag {
    padding: 4px 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.hashtag-selected {
    background-color: gainsboro;
}

.hashtag-content {
    display: inline;
}