{% extends "base.html" %}
{% load static %}

{% block head-links %}
    <link rel="stylesheet" href="{% static 'blogs/css/blog.css' %}">
{% endblock head-links %}


{% block title %}
    {{ blog.title }}
{% endblock title %}

{% block header %}
Blog
{% endblock header %}

{% block body %}
    <div class = "back-to">
        <i class="fa-solid fa-circle-left"></i><a href="{% url 'blogs:blogs' %}">Back to blogs</a>
    </div>
    <div class="blog">
        <h3 class = "title">{{ blog.title }}</h3>
        <i class="fa-solid fa-pen"></i><span class = "date-created">{{ blog.dateCreated | date:"Y-m-d" }} by Akhliddin</span>
        <i class="fa-solid fa-eye"></i><span class = "views-count">{{ blog.viewsCount }}</span>
        <div class = "content">
            {{ blog.description|safe }}
        </div>
    </div>
{% endblock body %}