{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head-links %}
    {% endblock head-links %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'containers/_header.html' %}

    {% block body %}
    {% endblock body %}
    
    {% include 'containers/_footer.html' %}

    {% block jsLinks %}
    {% endblock jsLinks %}
</body>
</html>