{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head-links %}
    {% endblock head-links %}
</head>
<body>

    <div class="container">
        <div class="sidebar">
            <div>
                <!-- <img src="{% static 'images/logo.png' %}" alt=""> -->
                 <h1 class = "logo-h">A</h1>
            </div>
            <div class="menu-items">
                <h1 class = "menu-item"><a href="{% url 'main:main' %}"><i class="fa-solid fa-house"></i></a></h1>
                <h1 class = "menu-item"><a href="{% url 'blogs:blogs' %}"><i class="fa-solid fa-pen-nib"></i></a></h1>
                <h1 class = "menu-item"><a href="{% url 'projects:projects' %}"><i class="fa-solid fa-code"></i></a></h1>
            </div>
            <div class = "social-links-menu">
                <h1 class="social-link-item"><a href="https://t.me/ans0220" target = "_blank"><i class="fa-brands fa-telegram"></i></a></h1>
                <h1 class="social-link-item"><a href="https://www.linkedin.com/in/ahliddin-najmiddinov-17796632a/" target = "_blank"><i class="fa-brands fa-linkedin"></i></a></h1>
                <h1 class="social-link-item"><a href="https://github.com/akhliddinnajmiddinov" target = "_blank"><i class="fa-brands fa-github"></i></a></h1>
            </div>
        </div>
    
        <div class="main-content">
            <header>
                <h1 class = "header-title">
                    {% block header %}
                    {% endblock header %}
                </h1>
            </header>

            {% block body %}
            {% endblock body %}
        </div>
    </div>
</body>
</html>